.layout-wrapper {
	min-height: 100dvh;
	height: 100%;
	display: flex;
	flex-direction: column;

	.site-header {
		flex: 0 0 auto;
	}

	.site-main {
		flex: 1 1 0;
	}

	.site-footer {
		flex: 0 0 auto;
	}
}