{{ define "main" }}
  <div class="page-header">
    <div class="grid-container">
      <h1>{{ .Title }}</h1>
    </div>
  </div>

  <div class="grid-container">
    {{ $img := (.Resources.ByType "image").GetMatch "*featured*" }}
    {{ with $img }}
       {{ $big := .Fit "1024x780 center" }}
       {{ $small := $big.Resize "512x" }}
        <img 
                    srcset="{{ $small.RelPermalink }} 512w, {{ $big.RelPermalink }} 1024w" 
                    sizes="(max-width: 600px) 512px, 1024px"
                    alt="{{ $img.Title }}"
                    class="">
    {{ end }}

    {{ .Content }}
    
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  </div>

{{ end }}
